* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  
    /* height: 700px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("Image/102451.jpg")0 0/100% 100% no-repeat;
    min-height: 100 vdh;
}

.container h1 {
    padding-left: 140px;
}

.container {
    background: linear-gradient(45deg, rgb(131, 185, 207), rgb(152, 141, 137));
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
   position:absolute;
    
}

.btn-ps {
    transform: translate(7.5em, 8em);
    display: inline-block
}
.login-btn { 
  
  background: linear-gradient(45deg, #007bff, #00c6ff); 
  border: none;
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
  transition: all 0.95s ease;
}

.login-btn:hover {
  background: linear-gradient(45deg, #0056b3, #00aaff);
  box-shadow: 0 6px 14px rgba(0, 123, 255, 0.6);
  transform: scale(1.05);
}

.login-btn:active {
  transform: scale(0.98);
}

.userpsw {
    margin-left: 1em;
    position: relative;
    width:300px ;

}


.userpsw i {
    position:absolute;
    left: 10.5em;
    transform: translateY(2.5em);
    color: #8fbbd6;
    transition:all 1s ease;
}
.userpsw input {
    margin-top: 20px;
    transform: translateY(20px);
    height: 30px;
    border-radius: 10px;
    border-style: none;
    padding: 8px 50px 8px 10px;
    width: 100%;
    height: 3em;
    transition: all 1s ease;
}

.reg {
    transform: translateY(10em);
    text-align: center;
}

.rem input {
    transform: translateY(3px);
}


.inhover:hover {
  box-shadow: 0 6px 14px rgba(0, 123, 255, 0.6);
  transform: scale(1.05);
}

.rem {
    display: flex;
    gap: 7em;
    margin-top: 7px;
    margin-left: 1em;
}
